@import 'src/assets/index';

footer {
  position: absolute;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: repeat(4, 25%);
  background: $primary-color-800;
  bottom: -20vh;
  height: 20vh;
  width: 100vw;
}

footer div.Follow-us  {
  font-size: x-large;
  font-weight: 100;
  margin-left: 10%;
}

footer div.Follow-us ul {
  margin-top: 4%;
  margin-bottom: 0;
  list-style-type: none;
}

footer a:hover {
  text-decoration:  1.5px underline;
}

footer .FAQ {
  font-size: x-large
}